.section-body{
    max-width: 37rem;
}
.formulario_login{
    max-width: 30.5rem;
    margin: auto;

    display: flex;
    flex-direction: column;
}
.formularioTitulo{
    font-size: var(---h1);
    font-family: 'Roboto', sans-serif;
    color: var(---azul);
}
.formularioTitulo span{
    font-size: 3rem;
}
.formucajaNombres{
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.formulario_login label{
    font-size: var(---parrafo);
    color: var(---azul);
    margin-top: 1.6rem;

    display: flex;
    flex-direction: column;
}
.formularionombres{
    max-width: 14.5rem;
    height: 3.5rem;
    border: 1px solid #E5E5E5;
    outline: none;
   
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: var(---parrafo);
    color: var(---gris);

}
.formularioinput{
    max-width: 30.3rem;
    height: 3.5rem;
    padding: 1rem;
    outline: none;

    border: 1px solid #E5E5E5;
    border-radius: 0.5rem;
    font-size: var(---parrafo);
    color: var(---gris);
}
.bot{
    width: 11.5rem;
    height: 5rem;
    border: none;
    margin-top: 4.2rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    
    outline: none;
    border-radius: 5px;
    font-size: var(---h3);
    background-color: var(---naranja);
    color: var(---crema);
}